@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Medllin-Colombia<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    +57 305389456
</address>

<address>
    <strong>Soporte:</strong> <a href="reymuerto14@hotmail.com">reymuerto14@hotmail.com</a><br />
</address>
